<%- include('includes/head') %>
  <%- include('includes/nav') %>
    <div class="d-flex justify-content-sm-center">

      <div class="container-sm">
        <div class="col-lg-12 my-3">
          <%- include('includes/messages') %>

            <h1 class="display text-center">Olá, <%= user.email %>
            </h1>
            <p class="text-center lead">Você pode criar um novo contato ou visualizar os contatos criados.</p>
            <div class="row d-flex justify-content-sm-center">
              <div class="col-6">
                <a class=" nav-link btn btn-outline-secondary" href="/contato/index">Cadastrar Contato</a>
              </div>
              <div class="col-6">
                <a class=" nav-link btn btn-outline-secondary" href="/">Visualizar Contatos</a>
              </div>

            </div>


        </div>
      </div>

    </div>
    <%- include('includes/footer') %>